.Box-model{
    text-align: center;
    font-size: larger;
    padding-right: 20px;
    border: 5px solid black;
    margin-right: 3px;
    color: rgb(24, 23, 23);

}
#text{
    text-align: center;
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    gap: 10px;

}
#text:hover{
    background-color: #d5abab;
    cursor: pointer;
}